---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SocialShare } from "astro-social-share";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .hero-image,
      .article-header {
        max-width: var(--content-wide-max-width);
        margin: 0 auto 3rem auto;
        padding: 0 1.5rem;
      }
      .hero-image img {
        width: 100%;
        border-radius: 6px;
        box-shadow: var(--box-shadow);
      }
      .article-header {
        text-align: center;
      }
      .article-header h1 {
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
        line-height: 1.2;
      }
      .date {
        font-family: "Source Sans 3", sans-serif;
        font-size: 0.9rem;
        color: rgb(var(--text-secondary));
        margin-bottom: 2rem;
      }
      .last-updated-on {
        font-style: italic;
        margin-top: 0.5rem;
      }
      .content {
        max-width: var(--content-max-width);
        margin: 0 auto;
        padding: 0 1.5rem;
      }
      @media (max-width: 768px) {
        .article-header h1 {
          font-size: 2rem;
        }
        .hero-image,
        .article-header,
        .content {
          padding: 0 1rem;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <div class="hero-image">
              <Image width={1020} height={510} src={heroImage} alt="" />
            </div>
          )
        }
        <div class="article-header">
          <h1>{title}</h1>
          <SocialShare
            url={Astro.request.url}
            title={title}
            description={description}
          />
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
        </div>
        <div class="content prose">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
